/* Figma Styles of your File */
:root {
  /* Colors */
  --warna: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 14.393933117389679%,
    rgba(11, 11, 69, 0) 100%
  );
  --garis: rgba(222, 222, 222, 0.2);

  /* Fonts */
  /* Effects */
}
