/* Figma Styles of your File */
:root {
  /* Colors */
  --yellow-100: #ffe484;
  --white-100: #ffffff;
  --white-200: linear-gradient(
    110.71deg,
    rgba(228, 228, 228, 0) 6.954678893089294%,
    rgba(255, 255, 255, 0.13) 100%
  );
  --gray-100: linear-gradient(
    90deg,
    rgba(220, 217, 210, 1) 6.3089631497859955%,
    rgba(220, 217, 210, 0) 100%
  );
  --gray-200: #dcd9d2;
  --gray-300: #b0b0ae;
  --gray-400: #525252;
  --black-100: rgba(22, 26, 27, 0.35);
  --black-200: #161a1b;

  /* Fonts */
  --desktop-h1-font-family: Anton-Regular, sans-serif;
  --desktop-h1-font-size: 72px;
  --desktop-h1-line-height: 78px;
  --desktop-h1-font-weight: 400;
  --desktop-h1-font-style: normal;
  --desktop-h2-font-family: Anton-Regular, sans-serif;
  --desktop-h2-font-size: 40px;
  --desktop-h2-line-height: normal;
  --desktop-h2-font-weight: 400;
  --desktop-h2-font-style: normal;

  /* Effects */
}
